Repository Gabrielenamie/chefee: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, yarn test:staged

chore: add pre push script
  .eslintignore
  .husky/pre-push
  .prettierignore
Due: none

chore: change tests scripts
  package.json
Due: prettier --write

chore: add silent parameter on test:ci
  package.json
Due: prettier --write

chore: change tests folder
  jest.config.js
  package.json
  tests/mock.spec.ts
  tsconfig.json
  tsconfig.prod.json
Due: prettier --write, eslint --fix, yarn test:staged

feat: add remove dist before build
  package.json
Due: prettier --write

fix: add tests relative paths
  jest.config.js
  tests/mock.spec.ts
  tests/unit/mock.ts
  tsconfig.json
Due: prettier --write, eslint --fix, yarn test:staged

home
  Chefee/Chefee.xcodeproj/project.pbxproj
  Chefee/Chefee.xcodeproj/project.xcworkspace/xcuserdata/vitorcheung.xcuserdatad/UserInterfaceState.xcuserstate
  Chefee/Chefee/ChefeeApp.swift
  Chefee/Chefee/View/Home/HomeView.swift
Due: none

carroussel
  Chefee/Chefee.xcodeproj/project.xcworkspace/xcuserdata/gabrielenamie.xcuserdatad/UserInterfaceState.xcuserstate
  Chefee/Chefee.xcodeproj/xcuserdata/gabrielenamie.xcuserdatad/xcschemes/xcschememanagement.plist
  Chefee/Chefee/Assets.xcassets/Comida Japonesa.imageset/Contents.json
  Chefee/Chefee/Assets.xcassets/Comida Japonesa.imageset/image 9.png
  Chefee/Chefee/Assets.xcassets/Comida italiana.imageset/Contents.json
  Chefee/Chefee/Assets.xcassets/Comida italiana.imageset/Rectangle 124.png
  Chefee/Chefee/View/Home/HomeView.swift
Due: prettier --write

feat: ensure Recipe entity is implemented
  .eslintrc.json
  package.json
  src/index.ts
  src/modules/mock.ts
  src/modules/recipes/domain/entities/country.ts
  src/modules/recipes/domain/entities/index.ts
  src/modules/recipes/domain/entities/instruction.ts
  src/modules/recipes/domain/entities/recipe.ts
  src/modules/recipes/domain/errors/index.ts
  src/modules/recipes/domain/errors/recipe-name-required.ts
  src/modules/recipes/domain/usecases/create-recipe.ts
  src/shared/entities/base-entity.ts
  src/shared/errors/application-error.ts
  src/shared/protocols/index.ts
  src/shared/protocols/nullable.ts
  tests/mock.spec.ts
  tests/unit/entities/base-entity.spec.ts
  tests/unit/entities/mocks/index.ts
  tests/unit/entities/mocks/mock-country.ts
  tests/unit/entities/recipe.spec.ts
  tests/unit/mock.ts
  yarn.lock
Due: prettier --write, eslint --fix, yarn test:staged

git add
  .gitignore
  Chefee/.DS_Store
  Chefee/Chefee.xcodeproj/project.xcworkspace/xcuserdata/vitorcheung.xcuserdatad/UserInterfaceState.xcuserstate
Due: none

add git
  .gitignore
  Chefee/.DS_Store
Due: none

comidas
  Chefee/.DS_Store
  Chefee/Chefee.xcodeproj/project.pbxproj
  Chefee/Chefee.xcodeproj/project.xcworkspace/xcuserdata/gabrielenamie.xcuserdatad/UserInterfaceState.xcuserstate
  Chefee/Chefee/View/Home/HomeView.swift
  Chefee/Chefee/View/cards/cardComidaView.swift
Due: none

arrumando bugs
  .DS_Store
  Chefee/.DS_Store
  Chefee/Chefee.xcodeproj/project.pbxproj
  Chefee/Chefee.xcodeproj/project.xcworkspace/xcuserdata/vitorcheung.xcuserdatad/UserInterfaceState.xcuserstate
  Chefee/Chefee/ChefeeApp.swift
  Chefee/Chefee/CoreData/Chefee.xcdatamodeld/Chefee.xcdatamodel/contents
  Chefee/Chefee/CoreData/DataBase.swift
  Chefee/Chefee/CoreData/Models/Geladeira+CoreDataClass.swift
  Chefee/Chefee/CoreData/Models/Ingrediente+CoreDataClass.swift
  Chefee/Chefee/CoreData/Models/Receita+CoreDataClass.swift
  Chefee/Chefee/CoreData/Persistence.swift
  Chefee/Chefee/Model/EnumComidasPaises.swift
  Chefee/Chefee/Model/Ingrediente.swift
  Chefee/Chefee/Model/Receita.swift
  Chefee/Chefee/View/DetalhesDaReceitaView.swift
  Chefee/Chefee/View/Geladeira/GeladeiraView.swift
  Chefee/Chefee/View/Geladeira/cardIngredienteView.swift
  Chefee/Chefee/View/GeladeiraView.swift
  Chefee/Chefee/View/Home/HomeView.swift
  Chefee/Chefee/View/HomeView.swift
  Chefee/Chefee/View/ListaDeReceitas.swift
  Chefee/Chefee/View/ReceitasFavoritas/ReceitasFavoritasView.swift
  Chefee/Chefee/View/ReceitasFavoritasView.swift
  Chefee/Chefee/View/cardIngredienteView.swift
  Chefee/Chefee/View/cards/cardComidaView.swift
  Chefee/Chefee/ViewModel/GeladeiraViewModel.swift
  Chefee/Chefee/ViewModel/HomeViewModel.swift
Due: none

arrumado
  Chefee/Chefee.xcodeproj/project.pbxproj
  Chefee/Chefee.xcodeproj/project.xcworkspace/xcuserdata/vitorcheung.xcuserdatad/UserInterfaceState.xcuserstate
Due: none

fotos e receitas
  Chefee/.DS_Store
  Chefee/Chefee.xcodeproj/project.xcworkspace/xcuserdata/gabrielenamie.xcuserdatad/UserInterfaceState.xcuserstate
  Chefee/Chefee/Assets.xcassets/brasileira.imageset/Contents.json
  Chefee/Chefee/Assets.xcassets/brasileira.imageset/brasileira.jpeg
  Chefee/Chefee/Assets.xcassets/francesa.imageset/Contents.json
  Chefee/Chefee/Assets.xcassets/francesa.imageset/francesa.jpg
  Chefee/Chefee/Assets.xcassets/macarrao.imageset/Contents.json
  Chefee/Chefee/Assets.xcassets/macarrao.imageset/macarrao.jpeg
  Chefee/Chefee/Assets.xcassets/ovofrito.imageset/Contents.json
  Chefee/Chefee/Assets.xcassets/ovofrito.imageset/ovofrito.jpeg
  Chefee/Chefee/Assets.xcassets/ratatouille.imageset/Contents.json
  Chefee/Chefee/Assets.xcassets/ratatouille.imageset/ratatouille.jpeg
  Chefee/Chefee/Assets.xcassets/salada.imageset/Contents.json
  Chefee/Chefee/Assets.xcassets/salada.imageset/salada.jpeg
  Chefee/Chefee/Assets.xcassets/sopa.imageset/Contents.json
  Chefee/Chefee/Assets.xcassets/sopa.imageset/sopa.jpeg
  Chefee/Chefee/Assets.xcassets/sushi.imageset/Contents.json
  Chefee/Chefee/Assets.xcassets/sushi.imageset/sushi.jpeg
  Chefee/Chefee/Assets.xcassets/turco.imageset/Contents.json
  Chefee/Chefee/Assets.xcassets/turco.imageset/turco.jpeg
  Chefee/Chefee/CoreData/DataBase.swift
  Chefee/Chefee/Model/EnumComidasPaises.swift
Due: prettier --write

images
  Chefee/.DS_Store
  Chefee/Chefee.xcodeproj/project.xcworkspace/xcuserdata/gabrielenamie.xcuserdatad/UserInterfaceState.xcuserstate
  Chefee/Chefee/Assets.xcassets/Comida brasileira.imageset/Contents.json
  Chefee/Chefee/Assets.xcassets/Comida brasileira.imageset/brasileira.jpeg
  Chefee/Chefee/Assets.xcassets/Comida francesa.imageset/Contents.json
  Chefee/Chefee/Assets.xcassets/Comida francesa.imageset/francesa.jpg
  Chefee/Chefee/Assets.xcassets/Comida turca.imageset/Contents.json
  Chefee/Chefee/Assets.xcassets/Comida turca.imageset/turco.jpeg
  Chefee/Chefee/CoreData/DataBase.swift
  Chefee/Chefee/Model/Receita.swift
  Chefee/Chefee/View/DetalhesDaReceitaView.swift
Due: prettier --write

pokemon
  Chefee/Chefee.xcodeproj/project.pbxproj
  Chefee/Chefee.xcodeproj/project.xcworkspace/xcuserdata/vitorcheung.xcuserdatad/UserInterfaceState.xcuserstate
  Chefee/Chefee/CoreData/DataBase.swift
  Chefee/Chefee/Model/Receita.swift
  Chefee/Chefee/View/DetalhesDaReceitaView.swift
  Chefee/Chefee/View/cardComidaView.swift
  Chefee/Chefee/View/cardIngredienteView.swift
Due: none

Path conditions:
  prettier --write: any of: *.{json, ts}
  eslint --fix: any of: *.ts
  yarn test:staged: any of: *.ts
